.banner {
  background-image: url('../../assets/hero-background.jpg');
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 700px;
}
@media (min-width: 1024px) {
  .banner {
    min-height: 100vh;
  }
}
.buttons {
  @apply font-medium text-lg py-5 text-white  lg:w-1/2;
}
